@using Pharma.Entities
@model IEnumerable<Sales>

    <h4>Sales</h4>
<a asp-action="Create" class="btn btn-primary">Create</a>
<br />
<br />
<form asp-controller="PurchaseController" asp-action="Index">
    <p>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model=>model.Pr)*@
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Transation Date and Time
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Product.Name
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.TransationDateAndTime
                </td>
                <td>
                    @item.Manufacturer.Name
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
