@using Pharma.Entities
@model IEnumerable<Product>

<h4>Product</h4>
<a asp-action="Create" class="btn btn-primary">Create</a>
<br />
<br />
<form asp-controller="Product" asp-action="Index">
    <p>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Threshold Qty. 
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.StockThreshold
                </td>
                <td>
                    @item.ManufacturerId
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
